@model OtterProductions_CapstoneProject.Models.BrowseViewModel
@*@model IEnumerable<Event>*@
@{
    ViewData["Title"] = "Browsing Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4 class="text-center">Upcoming Events in the next two weeks:<h4>
    <br />

    @if(Model.Events.Count() == 0)
    {
        <dd class="col-sm-10">
            <p>There aren't any events currently</p>
        </dd>
    }else
    {
        <table class="table table-sm" id="logTable">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Location</th>
                        <th scope="col">Description</th>
                        <th scope="col">Organization</th>
                    </tr>
                </thead>
                <tbody>
                        @foreach (var events in Model.Events)
                        {
                            <tr>
                                <td>@events.EventName</td>
                                <td>@events.EventLocation</td>
                                <td>@events.EventDescription</td>
                                @*Grabs the organization info based on the event organization ID*@
                                @*if the organization ID is equal to the location of organziations - 1 then post the organization information*@
                                @if(events.OrganzationId == Model.Organzations.ElementAt(events.OrganzationId - 1).OrganzationLoginId){
                                    <td>@Model.Organzations.ElementAt(events.OrganzationId - 1).OrganzationDescription</td>
                                }
                            </tr>
                        }
                </tbody>
        </table>
    }
</div>

@section Scripts
    {
    <script src="~/js/fancyTable.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#logTable").fancyTable({
                sortColumn: 0,
                sortOrder: 'descending',
                pagination: true,
                perPage: 10,
                globalSearch: true
            });
        });
    </script>
}