@model OtterProductions_CapstoneProject.Models.CityState

@{
    ViewData["Title"] = "Browsing Search Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body style="background-color: #15202b">
    <div class="text-center" style="color: white">
    <h1 class="display-4">Event Location Finder</h1>
    <p>Enter your location and we can find local events in your city</p>
    <hr />

    <form asp-controller="Home" asp-action="Browsing" method="post" style="text-align:left; display:inline-block;">
        <div class="form-group">
            <br />
            <label for="CityLocation">Enter your city:</label>
            <input type="text" id="city" name="City" value="" required>
            <br />
            <br />
            <label for="StateLocation">Enter your state (Using state abbrivations):</label>
            <input type="text" id="state" name="State" pattern="^[A-Z]{2}$" value="" required>
        </div>
        <br>
        <div class="mb-3">
            <button id="EventByLocation" type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    </div>

    <br />
    <hr />
    <hr />
    <hr />
    <br />

    <div class="text-center" style="color: white">
        <h1 class="display-4">Event Name Finder</h1>
        <p>Enter the name of the event you're looking for and we can find all events with the matching name</p>
        <hr />

        <form asp-controller="Home" asp-action="SearchEvent" method="post" style="text-align:left; display:inline-block;">
            <div class="form-group">
                <br />
                <label for="name">Enter the name of the event:</label>
                <input id="EventNameInput" type="text" name="name" required>
                <br />
            </div>
            <br>
            <div class="mb-3">
                <button id="EventByName" type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</body>
