@*@model OtterProductions_CapstoneProject.Models.BrowseViewModel
*@
@{
    ViewData["Title"] = "Browsing Search Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Event Finder</h1>
    <p>Enter your location and we can find local events in your city</p>
    <hr />

    <form asp-controller="Home" asp-action="BrowsingSearch" method="post">
        <div class="form-group">
            <br />
            <label for="LocationAddress">Enter your location:</label>
            <input type="text" id="location" name="Location" value="">
            <br />
            <label for="CityLocation">Enter your city:</label>
            <input type="text" id="city " name="City " value="">
            <br />
            <label for="StateLocation">Enter your state:</label>
            <input type="text" id="state" name="State" value="">
            <br />
            <label for="Zipcode">Enter your zip:</label>
            <input type="text" id="zip" name="Zip" value="">
            <br />
        </div>
        <br>
        <hr />
        <br>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

</div>
