@model IEnumerable<Event>
@{
    ViewData["Title"] = "Browsing Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <hr />
    <h4>Events in the next two weeks:<h4>
    <br />

    @if(Model.Count() == 0)
    {
        <dd class="col-sm-10">
            <p>There aren't any events currently</p>
        </dd>
    }else
    {
        @foreach (var events in Model)
        {
            <tr>
                <td>@events.EventName</td>
                <td>@events.EventLocation</td>
                <td>@events.EventDescription</td>
            </tr>
        }
    }
</div>
