@{
    ViewData["Title"] = "UserData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h1 class="display-4">@User.Identity.Name, Greetings To Our Site</h1>
   <p>@ViewBag.Message</p>
</div>

