@model Location

@{
    ViewData["Title"] = "Home Page";
}
@section AddToHead
    {
    <script type="module" src="/js/HomePage.js"></script>
}

<body style="background-color: #15202b">
    <div class="text-center">
        <img src="Images/logo.png" alt="LOGO" id="homepageLogo"/>
        <h1 id="homeHeader" class="display-4">Welcome to the Map App!</h1>
    
    </div>
    <br/>
    <div>
        <p id="homeInfo">Enter your address below to begin!</p>
    </div>
    <div class="row">
        <div class="col">
            <form asp-action="Index" method="post">
            
                <div asp-validation-summary="All"></div>

                
                <div class="input-group-text">

                    <label asp-for="location" class="control-label" >Address or City</label>
                    <input asp-for="location" class="form-control" id="address" required />
                    <button type="submit" id="homeSubmit" class="btn btn-primary">Submit</button>
                </div> 
                        

            
            </form>
            <br/>
            <button type="button" class="btn btn-secondary" id="locationButton">Click here to get your location</button>
        </div>
    </div>
    <br/>

<div id="homePageInfo" class="text-center">
    <p style="text-align:left">The Map App will:</p>
    <ul>
        <li style="text-align:left">
            Provide a point of access to various events in the user's local area and to other places
            with items of necessity that aid people facing various difficulties such as food insecurity, drug addiction, or homelessness
        </li>
        <li style="text-align:left">
            Provide a way to view and keep track of information about places with items of necessities which could help the general public in learning about businesses near them, allow people to gain access to necessities, and help organizations
            expand and get word out.
        </li>
    </ul>
</div>
<br />
<br />

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCIiPJAz4KApQsWr71OlZXjZczcaRQitk&callback=initialize&libraries=places&v=weekly"
        defer></script>
<script src="~/js/HomePage.js" asp-append-version="true"></script>
</body>