@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="Images/logo.png" alt="LOGO" style="width: 600px; height: 300px;"/>
    <h1 class="display-4">Welcome To Otter Productions Capstone Project</h1>
    <p>This Web App is for Otter Productions</p>
</div>

