html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #D3D3D3;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 50px;
}


#homepageLogo {
    height: 300px;
    width: 600px;
}

footer {
    position: absolute;
    left: 0px;
    height: 50px;
    bottom: 0px;
    width: 100%;
    padding-top: 15px;
}

/*FAQ Page*/
.faq {
    font-size: xx-large;
    color: white;
}

.category1, .category2, .category3, .category4 {
    font-size: large;
    color: #EBF5EE;
}

.accordion2, .accordion1, .accordion4 {
    width: 75%;
    background-color: #22303c;
}

.accordion-button collapsed {
    background-color: #22303c;
}

.accordion-button:not(.collapsed) {
    color: #15202b;
    background-color: #8899a6;
}


.contactUsTitle, .whatInfoTitle, .useInfoTitle {
    font-size: x-large;
    color: white;
}

.accordion-item, .accordion-header, .accordion-button {
    background-color: #22303c;
    color: white;
}

/*Privacy Page*/

.privacyHeader {
    font-size: xx-large;
    font-weight: bold;
    color: white;
}

.whatInfoStatement, .useInfoStatement, .contactUsStatement {
    width: 70%;
    color: white;
}


/*Map*/



#sidebar {
    /*flex-basis: 5rem;
    flex-grow: 1;
    padding: 1rem;
    max-width: 30rem;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
    display: flex;
    flex-direction: column;*/
}

#map {
    height: 700px; /*The height is 700 pixels */
    width: 100%; /*The width is the width of the web page */
}

#sidebar {
    /*display: flex;
    flex-direction: column;*/
}

#places {
/*    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    flex-grow: 1;*/
}

#placesitem {
    background-color: #f1f1f1;
    padding: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.25rem;
    cursor: pointer;
}

#placesitem:nth-child(odd) {
    background-color: #fcfcfc;
}





.thead, .tbody {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
/*User Login*/

.registrationLink {
    color: lightblue
}

#emailLogin {

}


#passwordLogin {

}

#passwordLogin:focus {
    background-color: lightblue;
}


#cardBody {
    background-color: lightblue;
}

.buttonLogin {
    border-radius: 4px;
    width: 100px;
}

#buttonLogin {
    border-radius: 4px;
    width: 100px;
}

h3 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.form-floating mb-3 {
    width: 50%;
}

/*User Registration*/


/*nav bar*/

.navbar {
    background-color: #22303c;
}

.navbar-text, .nav-link, .nav-item {
    color: white;
}

.body {
    background-color: #EBF5EE;
}

.nav-link:hover {
    color: #8899a6;
}

/* links */

a {
    color: white;
}

    a:hover {
        color: #8899a6;
    }