@page
@model OrganizationModel
@{
    ViewData["Title"] = "Organization";
}

<div class="container">
    <div class="row">
        <div class="col" style="padding-top: 35px">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">

                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-control mb-3">
                    <input type="checkbox" class="form-check-input" asp-for="Input.IsOrganization" required />
                    <label class="form-check-label, text-start" asp-for="Input.IsOrganization">Verify this is a organization account</label>
                    <span asp-validation-for="Input.IsOrganization" class="text-danger"></span>
                </div>
                <div class="form-control mb-3">
                    <input type="file" class="form-check-input" name="fileUpload" required placeholder="Upload Image" />
                   @* <label asp-for="Input.ProfileImage"></label>*@
                    <span asp-validation-for="Input.ProfileImage" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email">Email (Ex: name@example.com)</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.OrganizationName" class="form-control" autocomplete="username" aria-required="true" placeholder="Organization Name" />
                    <label asp-for="Input.OrganizationName">Organization Name</label>
                    <span asp-validation-for="Input.OrganizationName" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.OrganizationDescription" class="form-control" autocomplete="username" aria-required="true" placeholder="Organization Description" />
                    <label asp-for="Input.OrganizationDescription">Organization Description</label>
                    <span asp-validation-for="Input.OrganizationDescription" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.OrganizationLocation" class="form-control" autocomplete="username" aria-required="true" placeholder="Organization Location" />
                    <label asp-for="Input.OrganizationLocation">Organization Location</label>
                    <span asp-validation-for="Input.OrganizationLocation" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Address" class="form-control" autocomplete="username" aria-required="true" placeholder="Organization Address" />
                    <label asp-for="Input.Address">Organization Address</label>
                    <span asp-validation-for="Input.Address" class="text-danger"></span>
                </div>
                  <div class="form-floating mb-3">
                    <input asp-for="Input.PhoneNumber" class="form-control" aria-required="true" placeholder="0000000000" />
                    <label asp-for="Input.PhoneNumber">Phone Number</label>
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <br />
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary" style="width: 75%; background-color: rgb(0,129,0)">Create Account</button>
            </form>
            <div class="haveAccount" style="padding-top: 3px;"><a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Do you already have an account? Login here!</a></div>
            <div class="userRegister" style="padding-top: 6px;"><a asp-page="/Account/Register" asp-route-returnUrl="@Model.ReturnUrl">Do you instead want to register as a User? Register here!</a></div>

        

        </div>
        <div class="col" style="padding-top: 65px; padding-left: 40px;">
            <h1>Welcome to Map App!</h1>
            <br />
            @*<img src="/Images/logo.png" alt="LOGO" id="loginpageLogo" style="width:250px; height:150px; padding-left:10px;" />*@
            <br />
            <h3>By creating a free Organization account with us, you will be able to:</h3>
            <div class="bulletPoints" style="padding-left: 13px;"> - Have your own Organization profile page</div>
            <div class="bulletPoints" style="padding-left: 13px;"> - Create events you offer to the community</div>
            <div class="bulletPoints" style="padding-left: 13px;"> - View your created events</div>
    
            <br />
            <br />
            <div class="agreeTerms"> By creating an account with Map App, you agree to accept our <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a> </div>
            <br />
            <br />

        </div>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}