@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.CodeAnalysis.VisualBasic.Syntax
@model Location
@{
    ViewData["Title"] = "Map Page";
}


<input id="location" type="text" placeholder="@Model.location" value="@Model.location">


<input id="submit" type="button" value="Submit" class="btn btn-primary"></>
<!--The div element for the map -->
<div id="map"></div>

@*<!-- 
The `defer` attribute causes the callback to execute after the full HTML
document has been parsed. For non-blocking uses, avoiding race conditions,
and consistent behavior across browsers, consider loading using Promises
with https://www.npmjs.com/package/@googlemaps/js-api-loader.
-->*@
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCIiPJAz4KApQsWr71OlZXjZczcaRQitk&callback=initMap&v=weekly"
        defer
></script>
