@using Microsoft.AspNetCore.Mvc.ModelBinding
@using Microsoft.CodeAnalysis.VisualBasic.Syntax
@model Location
@{
    ViewData["Title"] = "Map Page";
}

<div>
    <p>Type in an Address or City</p>
</div>
<input id="location" type="text" placeholder="@Model.location" value="@Model.location">


<input id="submit" type="button" value="Submit" class="btn btn-primary"></>

<br/>
<div>
    <button id ="restroom" type="button" class="btn btn-info" value="Public Restroom">Restroom</button>

    <button id="Food Bank" type="button" class="btn btn-success" value="Food Bank">Food Bank</button>

    <button id="Shelter" type="button" class="btn btn-warning" value="Shelter">Shelter</button>

</div>

<br />

<div class="container">
    
    <!--The div element for the map -->
    <div class="row">
        <div class="col-8">

            <div id="map"></div>
        </div>
         <div class="col-4" id="sidebar">
             <div>
                 <h2 id="list-title"></h2>
                 <ul id="places"></ul>
                 <button id="more" hidden="hidden">Load more results</button>
             </div>
                
            </div>
        
    </div>
</div>
@*<!-- 
The `defer` attribute causes the callback to execute after the full HTML
document has been parsed. For non-blocking uses, avoiding race conditions,
and consistent behavior across browsers, consider loading using Promises
with https://www.npmjs.com/package/@googlemaps/js-api-loader.
-->*@
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCIiPJAz4KApQsWr71OlZXjZczcaRQitk&callback=initMap&libraries=places&v=weekly"
        defer
></script>